button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ff6347;
    color: #ffffff;
}

#add {
    float: right;
    box-sizing: border-box;
    margin-right: 75px;
    margin-top: 20 px;
}

#new-toon {
    margin-top: 5px;    
    margin-bottom: 5px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

#add-toon {
    background-color: #ff6347;
    color: #ffffff;
}

#giphies {
    margin-left: 20px;
    margin-top: 20px;
}

.wrapGif {
    display: inline-block;
    padding: 5px;
}

.ratingFont {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {

    #add {
        float: none;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-top: 20 px;
        
    }

    #giphies {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    #add {
        float: none;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-top: 20 px;
        
    }

    #giphies {
        text-align: center;
    }
}